:root {
    --grey: #f8f8f7;
    --black: #000000;

    /* Theme 1 */
    --darkBlue2: #241E92;
    --magenta: #5432D3;
    --purple2: #7B6CF6;
    --lightPurple: #E5A5FF;

    /* Theme 2 */
    --darkBlue: #150050;
    --darkPurple: #3F0071;
    --purple: #610094;

    /* Theme 3 */
    --maroon: #3D0000;
    --darkRed: #950101;
    --red: #FF0000;
}

body {
    width: 150px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(162,162,162,1) 100%, rgba(0,212,255,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
}

.themes > div {
    display: flex;
    flex-direction: row;
}

.themes > div:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.themes > div > div {
    height: 40px;
    width: 25%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
}

#download {
    margin: 0px;
    padding: 10px 0px 15px;
}

#download:hover {
    opacity: 80%;
    cursor: pointer;
}

#about {
    padding-bottom: 10px;
    margin: 0px;
}

#about:hover {
    opacity: 80%;
    cursor: pointer;
}

.theme-1-1 { background-color: var(--darkBlue2); }
.theme-1-2 { background-color: var(--magenta); }
.theme-1-3 { background-color: var(--purple2); }
.theme-1-4 { background-color: var(--lightPurple); }

.theme-2-1 { background-color: var(--black); }
.theme-2-2 { background-color: var(--darkBlue); }
.theme-2-3 { background-color: var(--darkPurple); }
.theme-2-4 { background-color: var(--purple); }

.theme-3-1 { background-color: var(--black); }
.theme-3-2 { background-color: var(--maroon); }
.theme-3-3 { background-color: var(--darkRed); }
.theme-3-4 { background-color: var(--red); }

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: var(--grey);
}